$colors : (
    purplee: #9368e9,
    light-tex: rgba(0, 0, 0, 0.555)
);

$borders : (
    border-botm: solid rgba(12, 12, 12, 0.192) 1px,
    border-lefts: solid rgba(12, 12, 12, 0.103) 2px,
    border1: solid #9368e9 2px
);

$box-shadow : (
    shad: rgba(17, 17, 17, 0.527) 2px 2px 20px 1px
);

@function color($name){
    @return map-get($colors, $name);
}
@function border($name){
    @return map-get($borders, $name);
}
@function shadow($name){
    @return map-get($box-shadow, $name);
}

$width: 450px;
$height-task: 140px;

$desk0 : 549px;
$desk1 : 550px;
$desk2 : 630px;
$desk3 : 720px;
$desk4 : 740px;
$desk5 : 840px;
$desk6 : 1000px;
$desk7 : 1000px;
$desk8 : 1120px;
$desk9 : 1230px;
$desk10 : 1230px;
$desk11 : 1430px;
$desk12 : 1530px;
$desk13 : 1835px;
$desk14 : 1380px;

@mixin desk0 {
    @media (max-width: $desk0) {
        @content;
    }
}
@mixin desk1 {
    @media (min-width: $desk1) {
        @content;
    }
}
@mixin desk2 {
    @media (min-width: $desk2) {
        @content;
    }
}
@mixin desk3 {
    @media (min-width: $desk3) {
        @content;
    }
}
@mixin desk4 {
    @media (min-width: $desk4) {
        @content;
    }
}
@mixin desk5 {
    @media (min-width: $desk5) {
        @content;
    }
}
@mixin desk6 {
    @media (max-width: $desk6) {
        @content;
    }
}
@mixin desk7 {
    @media (min-width: $desk7) {
        @content;
    }
}
@mixin desk8 {
    @media (min-width: $desk8) {
        @content;
    }
}
@mixin desk9 {
    @media (min-width: $desk9) {
        @content;
    }
}
@mixin desk10 {
    @media (max-width: $desk9) {
        @content;
    }
}
@mixin desk11 {
    @media (min-width: $desk11) {
        @content;
    }
}
@mixin desk12 {
    @media (min-width: $desk12) {
        @content;
    }
}
@mixin desk13 {
    @media (min-width: $desk13) {
        @content;
    }
}
@mixin desk14 {
    @media (min-width: $desk14) {
        @content;
    }
}

//Global
.task{
    position: absolute;
}
.tex-b{
    position: absolute;
    font-size: 36px;
    margin-left: 9px;;
    margin-top: 15px;
    font-weight: bolder;
    color: #fff;
    // color: #9368e9;
    // font-family: 'Almendra SC';
    // font-style: italic;
    // letter-spacing: 2px;

    @include desk1{
        font-size: 45px;
        margin-top: 12px;
    }
    @include desk4{
        margin-top: 6px;
        font-size: 50px;           
    }
    @include desk5{
        font-size: 50px;
    }
    @include desk8{
        margin-left: 20px;
    }
    // @include desk12{
    //     font-size: 30px;
    // }
    @include desk13{
        margin-left: 3%;  
        margin-top: 12px;   
        font-size: 58px;
    }

}
.tex-lang{
    font-size: 14px;
    margin-top: 18px;
    margin-left: 47%;
    // color: rgb(94, 71, 168);
    color: rgb(255, 210, 60);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    
    @include desk1{
        margin-left: 50%;
        margin-top: 22px;
    }
    @include desk4{
        margin-top: 18px;
        margin-left: 43%;           
    }
    @include desk5{
        margin-top: 20px;
        margin-left: 40%;   
    }
    @include desk7{
        margin-left: 35%;
    }
    @include desk8{
        font-size: 18px;
        margin-left: 30%;
        margin-top: 40px;
    }
    @include desk9{
        margin-top: 22px;
        font-size: 14px;
        margin-left: 34%;
    }
    @include desk11{
        margin-left: 28%;
    }
    @include desk12{
        margin-left: 335px;
        margin-top: 22px;
        font-size: 16px;   
    }
    @include desk13{
        font-size: 18px;
        margin-top: 50px;
        margin-left: 27%;
        text-decoration: underline;
    }
}
.tex-rate{
    font-size: 14px;
    margin-top: 40px;
    margin-left: 47%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;

    @include desk1{
        margin-top: 44px;
        margin-left: 50%;
    }
    @include desk2{
        margin-left: 47%;
    }
    @include desk4{
        margin-top: 40px;           
        margin-left: 43%;
    }
    @include desk5{
        margin-top: 45px;
        margin-left: 40%;   
    }
    @include desk7{
        margin-left: 35%;
    }
    @include desk8{
        font-size: 18px;
        margin-left: 41%;
        margin-top: 40px;
    }
    @include desk9{
        margin-top: 45px;
        font-size: 14px;
        margin-left: 32%;
    }
    @include desk11{
        margin-left: 28%;
    }
    @include desk12{
        margin-top: 50px;
        font-size: 16px;
        margin-left: 335px;   
    }
    @include desk13{
        margin-left: 36%;
        margin-top: 50px;
        font-weight: bold;
    }
}
.tex-desc{
    width: 350px;
    height: 5%;
    font-size: 14px;
    margin-top: 85px;
    margin-left: 2%;
    // color: rgba(0, 0, 0, 0.555);
    color: rgba(255, 255, 255, 0.692);
    font-weight: bold;

    @include desk2{
        width: 450px;
        font-size: 16px;
        margin-top: 85px;
    }
    @include desk4{
        margin-top: 85px;
        font-size: 16px;           
    }
    @include desk5{
        font-size: 17px;
        margin-top: 82px;   
    }
    @include desk8{
        width: 550px;
        font-size: 18px;
    }
    @include desk9{
        width: 400px;
        font-size: 16px;
    }
    @include desk12{
        width: 550px;
        font-size: 17px;
    }
    @include desk13{
        font-size: 18px;
        margin-top: 95px;
        margin-left: 3%;   
    }
}
.upload-button{
    visibility: hidden;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 90%;
    margin-bottom: 10px;
    // background: #9368e9;
    background: #e99612;
    color: #fff;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: #9368e98f 1px 3px 10px 1px;

    @include desk2{
        width: 65px;
        height: 38px;
        margin-left: 85%;
        margin-bottom: 20px;
    }
    @include desk6{
        visibility: visible;
    }
}
.upload-button-1000{
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    position: absolute;
    margin-left: 60%;
    margin-top: -32px;
    background: #e99612;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    box-shadow: #9368e98f 1px 3px 10px 1px;

    @include desk6{
        visibility: hidden;
    }
    @include desk9{
        margin-left: 52%;
    }
    @include desk11{
        margin-left: 45%;
    }
    @include desk13{
        margin-left: 54%;
    }
}

.comp-task-par{
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 881px;
    margin-top: 55px;
    // background: #000;
    background: rgba(58, 52, 65, 0.089);

    @include desk9{
        width: 79%;
        margin-left: 243px;
        right: 217px;
    }
    @include desk13{
        height: 890px;
    }

    .head{
        width: 90%;
        height: 4%;
        color: color(light-tex);
        font-size: 25px;
        text-align: center;

        @include desk1{
            text-align: left;
            font-size: 26px;
        }
    }
    .taday-task-tex{
        margin-top: 30px;  
        margin-left: 3%;

        @include desk4{
            margin-left: 22%;
        }
        @include desk7{
            margin-left: 20%;
        }
        @include desk9{
            margin-left: 240px;
        }
        @include desk12{
            margin-left: 16%;
        }
        @include desk13{
            margin-left: 8%;
        }
    }

    .task-body{
        display: flex;
        width: 94%;
        // width: 450px;
        margin-right: 2em;
        height: 140px;
        margin-left: 4%;
        margin-top: 18px;
        // background: rgb(118, 174, 238);
        // background: #35720cdf;
        // background: #b42e2e;
        background: rgb(37, 67, 165);
        border-radius: 15px;
        // background: radial-gradient( rgb(172, 54, 54), #fda707d2);
        // background: color(purplee);
        box-shadow: #353536 3px 3px 30px 2px;

        @include desk4{
            width: 75.5%;
            margin-left: 23%;
        }
        @include desk7{
            margin-left: 20%;
            max-width: 75.5%;
        }
        @include desk9{
            margin-left: 250px;
            width: 68%;
        }
        @include desk11{
            width: 58%;
        }
        @include desk12{
            margin-left: 16%;
        }
        @include desk13{
            margin-left: 9%;
            width: 65%;
            height: 150px;
        }
    }

    .compl-task-tex{
        margin-top: 60px;
        margin-left: 3%; 
        margin-bottom: 25px;

        @include desk4{
            margin-left: 22%;
        }
        @include desk7{
            margin-left: 20%;
        }
        @include desk9{
            margin-left: 240px;
        }
        @include desk12{
            margin-left: 16%;
        }
        @include desk13{
            margin-left: 8%;
        }
    }

    .task-cover{
        display: flex;
        width: 93%;
        height: 100px;
        // background: rgb(236, 251, 245);
        background: #fff;
        border-bottom: rgba(0, 0, 0, 0.185) solid 2px;
        margin-right: 2em;
        margin-left: 4%;
        margin-top: 0px;
        box-shadow: rgba(17, 17, 17, 0.527) 2px 2px 20px 1px;

        @include desk4{
            width: 75.5%;
            margin-left: 23%;
        }
        @include desk7{
            margin-left: 20%;
            max-width: 75.5%;
        }
        @include desk9{
            margin-left: 250px;
            width: 68%;
        }
        @include desk11{
            width: 58%;
        }
        @include desk12{
            margin-left: 16%;
        }
        @include desk13{
            height: 120px;
            width: 65%;
            margin-left: 9%;
        }

        .tex-b{
            color: rgb(77, 75, 75);
            font-family: sans-serif;
            font-size: 34px;
            @include desk1{
                font-size: 38px;
            }
            @include desk5{
                font-size: 38px;
            }
            @include desk8{
                margin-left: 20px;
            }
            // @include desk12{
            //     font-size: 30px;
            // }
            @include desk13{
                margin-left: 3%;  
                margin-top: 12px;   
                font-size: 40px;
                
            }
        }
        
        .tex-lang{
            font-size: 14px;
            margin-top: 60px;
            margin-left: 9px;
            color: rgb(94, 71, 168);
            font-family: Arial, Helvetica, sans-serif;
            
            @include desk1{
                margin-top: 58px;
            }
            @include desk8{
                margin-left: 20px;
                margin-top: 62px;
                font-size: 16px;   
            }
            @include desk13{
                margin-left: 3%;
                margin-top: 67px;
            }
        }
        .tex-rate{
            font-size: 14px;
            margin-top: 60px;
            margin-left: 105px;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
        
            @include desk1{
                margin-top: 58px;
            }
            @include desk8{
                margin-left: 130px;
                margin-top: 62px;
                font-size: 16px;   
            }
            @include desk13{
                margin-left: 10.5%;
                margin-top: 67px;
            }
        }
        
        .don{
            // color: rgb(195, 255, 0);
            color: #fff;
            margin-top: -19px;
            // background: #e99612;
            background: #f54b4b;
            // margin-top: -38px;
            height: 42px;
            font-size: 22px;

            @include desk13{
                margin-top: -38px;
            }
        }

        .circle{
            width: 15px;
            height: 15px;
            border: solid rgb(0, 234, 255) 3px;
            border-radius: 50%;
            margin-top: 3px;
            // margin-left: 10px;

            @include desk2{
                width: 20px;
                height: 20px;
            }
            @include desk7{
                margin-left: 10px;
            }
        }
        .tic{
            margin-top: -6px;

            @include desk7{
                // margin-top: 10px;
            }
        }
        .tick{
            font-size: 24px;
            // color: rgb(255, 238, 0);
            // color: rgb(68, 117, 55);
            color: #fff;

            @include desk2{
                font-size: 28px;
            }
            @include desk7{
                margin-top: -20px;
            }
        }

        .stars{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: 100px;
            margin-left: 50%;

            @include desk2{
                margin-left: 45%;
            }
            @include desk4{
                margin-left: 34%;   
            }
            @include desk5{
                margin-left: 34%;
            }
            @include desk7{
                margin-left: 26%;
            }
            @include desk11{
                margin-left: 55%;
                visibility: visible;
            }
            @include desk12{
                margin-left: 57%;
            }
            @include desk13{
                margin-left: 65%;
            }
            
        }
        .checked{
            // color: #b8aa2c;
            // color: rgb(95, 49, 85);
            color: rgb(248, 156, 18);
        }
        .half-checked{
            // color: #8f69da;
            color: rgba(248, 156, 18, 0.664)
            // color: #a486e0;
        }
        .unchecked{
            // color: rgba(0, 0, 0, 0.692);
            color: rgb(248, 156, 18)
        }
        .starr{
            font-size: 17px;
            margin-top: 15px;
            margin-left: 4px;
            @include desk2{
                font-size: 20px;
                margin-left: 10px; 
            }
            @include desk3{
                font-size: 25px;    
            }
            @include desk4{
                font-size: 20px;   
            }
            @include desk5{
                font-size: 25px;
            }
            @include desk9{
                font-size: 20px;
            }
            @include desk14{
                font-size: 25px;
            }
            @include desk11{
                font-size: 20px;
            }
            @include desk12{
                font-size: 25px;
                margin-left: 15px;
            }

        }
        

    }
    
}

.rating-box{
    @include desk10{
        display: none;
    }
}