$colors : (
    tex: #fff,
    temp: #000,
    purplee: #9368e9
);

$borders : (
    border-botm: solid rgba(12, 12, 12, 0.192) 1px,
    border-lefts: solid rgba(12, 12, 12, 0.103) 2px,
    border1: solid #9368e9 2px,
    border2: solid 1px rgba(255, 255, 255, 0.301),
    border3: solid 9px #000
);

$desk0 : 739px;
$desk1 : 740px;
$desk2 : 900px;
$desk3 : 1000px;
$desk4 : 1230px;

@mixin desk0 {
    @media (max-width: #{$desk0}) {
        @content;
    }
}
@mixin desk1{
    @media (min-width: #{$desk1}) {
        @content;
    }
}
@mixin desk2{
    @media (min-width: #{$desk2}) {
        @content;
    }
}
@mixin desk3{
    @media (min-width: #{$desk3}) {
        @content;
    }
}
@mixin desk4{
    @media (min-width: #{$desk4}) {
        @content;
    }
}

@function color($name){
    @return map-get($colors, $name);
}
@function border($name){
    @return map-get($borders, $name);
}

.bar{
    position: absolute;
    display: flex;
    width: 243px;
    height: 894px;
    margin-top: 55px;
    background: color(purplee);

    @include desk0{
        visibility: hidden;
        // box-shadow: 
    }
    @include desk1{
        width: 148px;
    }
    @include desk3{
        width: 165px;
    }
    @include desk4{
        width: 259px;
    }

    .tabs{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // background: #000;
        
        .tab{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(255, 255, 255, 0.808);
            width: 100%;
            height: 60px;
            font-weight: 100;
            // background: #000;

            @include desk3{
                height: 70px;
            }
            @include desk4{
                height: 60px;
            }
            
            .tab-cover{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                height: 115%;
                border-bottom: border(border2); 
                // background: #000;

                @include desk1{
                    width: 40%;
                }
                @include desk3{
                    width: 80%;
                    // height: 90%;
                }

                .tab-tex{
                    position: absolute;
                    left: 28px;

                    @include desk1{
                        visibility: hidden;
                    }
                    @include desk3{
                        visibility: visible;
                        left: 8px;
                        font-size: 15px;
                    }
                    @include desk4{
                        left: 28px;
                    }
                }

                .ico{
                    position: absolute;
                    right: 28px;
                    font-size: 16px;
                    padding-left: 90px;

                    @include desk1{
                        right: 55px;
                        font-size: 30px;
                    }
                    @include desk3{
                        right: 14px;
                        font-size: 22px;
                    }
                    @include desk4{
                        right: 28px;
                    }
                }
            }
        }

        .meter-box{
            font-weight: bold;
            color: #fff;
            display: flex;
            flex-direction: column;
            padding-left: 26px;
            width: 100%;
            height: 30%;
            margin-top: 40%;
            // background: #000;

            .meter-tex{
                margin-bottom: 10%;

                @include desk1{
                    margin-left: -15px;
                    display: block;
                    font-size: 16px;
                }
                @include desk4{
                    margin-left: 0px;
                }
            }
            .mt1{
                @include desk1{
                    display: none;
                }
                @include desk4{
                    display: inline;
                }
            }
            .mt2{
                @include desk0{
                    display: none;
                }
                @include desk4{
                    display: none;
                }
            }

            .meter{
                width: 75%;
                height: 2%;
                margin-bottom: 10%;
                background: linear-gradient(to right, rgb(250, 235, 24), rgb(251, 129, 58),#fff);
            }
            .me2{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: border(border3);
                background: #fff;
            }

            .perc-completed{
                font-weight: 400;
                font-size: 15px;
                margin-bottom: 10%;
            }
            
        }
    }
    .tab:hover{
        transition: 0.7s;
        background: rgb(51, 30, 88);
        color: #fff;
    }
}

