.tex-box{
    margin-top: 12%;
    margin-left: 0%;
    /* background: #000; */
}
.rating-box{
    position: absolute;
    width: 214px;
    height: 90%;
    right: 0;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.582); ;
    /* color: rgba(0, 0, 0, 0.637); */
}
.perf-tex{
    font-family: 'Alfa Slab One';
    width: 50px;
    height: 50px;
    font-size: 60px;
    margin-left:22px;
    margin-top: 30px;
    color: rgb(253, 253, 253); 
}
.high-rating{
    margin-top: 10%;
    font-size: 25px;
    font-weight: bolder;
}
.anim-star{
    width: 140px;
    height: 140px;
    background: #9368e9b6;
    color: #000;
    clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,
    91.0518476172854% 60.99980941685713%,
    82.33578363789503% 63.39392013277814%,
    93.30127018922194% 75%,
    77.76736691019323% 71.30665001530522%,
    80.05203820042827% 80.05203820042827%,
    71.30665001530522% 77.76736691019323%,
    75% 93.30127018922192%,
    63.39392013277814% 82.33578363789503%,
    60.99980941685714% 91.0518476172854%,
    54.56841672770181% 84.70057014808336%,
    50% 100%,
    45.4315832722982% 84.70057014808336%,
    39.000190583142874% 91.0518476172854%,
    36.606079867221865% 82.33578363789505%,
    25.00000000000001% 93.30127018922194%,
    28.693349984694787% 77.76736691019323%,
    19.947961799571733% 80.05203820042827%,
    22.23263308980677% 71.30665001530522%,
    6.698729810778076% 75.00000000000001%,
    17.664216362104966% 63.39392013277815%,
    8.948152382714603% 60.99980941685715%,
    15.299429851916635% 54.568416727701816%,
    0% 50.00000000000001%,
    15.299429851916635% 45.431583272298205%,
    8.94815238271459% 39.00019058314288%,
    17.66421636210496% 36.60607986722188%,
    6.698729810778062% 25.000000000000014%,
    22.23263308980676% 28.693349984694787%,
    19.947961799571715% 19.947961799571747%,
    28.69334998469477% 22.232633089806775%,
    24.99999999999998% 6.698729810778083%,
    36.60607986722184% 17.664216362104973%,
    39.00019058314284% 8.948152382714603%,
    45.43158327229816% 15.299429851916642%,
    49.99999999999999% 0%,
    54.568416727701795% 15.299429851916635%,
    60.99980941685711% 8.94815238271459%,
    63.39392013277812% 17.66421636210496%,
    74.99999999999997% 6.6987298107780475%,
    71.3066500153052% 22.23263308980675%,
    80.05203820042826% 19.947961799571722%,
    77.76736691019323% 28.69334998469477%,
    93.30127018922192% 24.99999999999998%,
    82.33578363789502% 36.60607986722184%,
    91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%);
    animation: clip 1.5s infinite;
    border: solid #000 2px;
}
.my-profile{
    width: 70%;
    margin-top: 15%;
    font-size: 25px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.582); ;
}
.short-tex{
    margin-top: 20%;
    font-weight: bolder;
}
.user-box{
    width: 160px;
    height: 160px;
    margin-top: 2%;
    /* margin-left: 10%; */
    /* background: #000; */
    border-radius: 20px;
    border: solid #000 2px;
}
.head-tex{
    margin-top: 20%;
    font-size: 12px;
    font-weight: bold;
    color: rgb(58, 130, 139); 
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 2%;
    margin-left: 6%;
    font-size: 49px;
    font-weight: bolder;
    color: #9368e9da;
    background: #fff;
    border: solid #9368e9 1px;
}
.prev-rating-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    margin-left: 6%;
    width: 110px;
    height: 110px;
    color: #9368e9da;
    background: #fff;
    border: solid #9368e9 1px;
    border-radius: 50%;
    font-size: 45px;
    font-weight: bolder;
}
.star{
    position: absolute;
    font-size: 20px;
    margin-left: 16%;
    margin-top: -5%;
    color: #9368e9da;
}
.box-tex{
    font-size: 20px;
    margin-left: 4%;    
}

@keyframes clip {
    0% {
      clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%);
    }
    50% {
      clip-path: polygon(84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%);
    }
     100% {
      clip-path: polygon(91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%,84.70057014808336% 54.5684167277018%);
    }
}